{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script type="text/javascript">
	function initVM(data){
		var vm = new Vue({
			el: '#vm',
			data: {
				blogs: data.blogs,
				page: data.page
			},
			methods: {
				edit_blog: function(blog){
					location.assign('/manage/blogs/edit?id=' + blog.id);
				},
				delete_blog: function(blog){
					if(confirm('确认要删除“' + blog.name + '”？删除不可恢复！')) {
						postJSON('/api/blogs/' + blog.id + '/delete', function(err, r) {
							if(err) {
								return alert(err.message || err.error || err);
							}
							refresh();
						});
					}
				}
			}
		});
		$('#vm').show();
	}

	$(function() {
		getJSON('/api/blogs', {
			page: {{ page_index }}
		}, function(err, results) {
			if(err) {
				return fatal(err);
			}
			$('#loading').hide();
			initVM(results);
		});
	});
</script>

{% endblock %}